<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Node chat</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>


</head>
<body>
<a href="/login">Регистрация/вход</a>
<br>
<a href="/auth/vk">Вход через ВК</a>
<br>
<a href="/profile">Профиль (смена имени пользователя для зарегистрированных пользователей)</a>
<br>


        <div class="container clearfix">
            <div class="chat">
                <div class="chat-header clearfix">

                    <div class="controls">
                        <a href="#" class="logout-btn">Logout</a>
                    </div>
                </div>

                <div class="chat-history">
                    <ul>
                    </ul>
                </div>

                <div class="chat-message clearfix">
                    <textarea name="message" placeholder ="Type your message" rows="3"></textarea>
                    <button type="submit">Send</button>
                </div>
                <div class="join-room clearfix">
                    <button type="submit">Join room</button>
                </div>
                <div class="join-game">
                    <button type="submit">Send</button>
                </div>
            </div>
        </div>
        <script src="/js/auth.js"></script>

</body>
</html>