<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Chat IO</title>
</head>
<body>
<div class="login-page">
  <div class="form">
    <div class="form-line"></div>
      <div style="margin-top: 18px;">

        <form action="/login" class="login-form" method="post">
            <p class="message">Вход</p>
          <input type="text" name="username" placeholder="email"/>
          <input type="password" name="password" placeholder="password"/>
          <button type="submit">login</button>
        </form>
      </div>
    </div> <!-- end form -->
  </div>
</div>
  <div class="login-page">
    <div class="form"> <form action="/register" class="register-form" method="post" >
            <p class="message"> Регистрация</p></div>
        <input type="text" name="username" placeholder="email"/>
        <input type="text" name="name" placeholder="username"/>
        <input type="password" name="password" placeholder="password"/>
        <button type="submit">create</button>
    </div> <!-- end login container -->
  </div>



</body>
</html>
