<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Chat IO</title>
</head>
<body>
<div class="login-page">
  <div class="form">
    <div class="form-line"></div>
      <div style="margin-top: 18px;">

        <form action="/changename" class="login-form" method="post">
          <input type="text" name="newname" placeholder="new name"/>
          <button type="submit">Change name</button>
        </form>
      </div>
    </div> <!-- end form -->
  </div>
</div>



</body>
</html>
